*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body {
  background-image: url(../img/close-up-calendar-design.jpg);
  background-attachment: fixed;
  background-size: cover;
}
input {
  background-color:rgb(236, 200, 233);
  border-radius: 20px;
  margin: 10px;
  border: 1px solid rgb(180, 43, 173);
}
button {
  border-radius: 20px;
  justify-content: left;
  margin: 10px;
  border: 1px solid rgb(180, 43, 173);
  background-color: rgb(236, 200, 233);
}
.box{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    border: 1px solid rgb(180, 43, 173);
    color: black;
    background-color:#b6407b;
}
